.table-row:hover td{
    background-color: rgb(234, 234, 234);    
    transition: .5s;
    cursor: pointer;
}

.table-row td{
    transition: .5s;
}

.table-div{
    overflow-y: auto;
    height: 50vh;
    width: 100%;
}

.table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}