.box-title{
    color: rgb(98, 98, 98) !important;
}

.data-boxes{
    gap: 20px;
}

.data-box{
    border: 1.5px solid rgb(194, 194, 194);  
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.2);*/
    height: 150px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;

    > p{
        background-color: rgb(250, 250, 250);
        border-radius: 10px;
    }
}
