body {
font-family: 'Sofia Sans Condensed', sans-serif;
}

body, .navbar, .table td, .table th{
background-color: white;
}

.panel-tabs>a, .title, .panel>p, .navbar-item, .table td, .table thead th, .title, .panel p, a, .subtitle, body, .navbar, span, .breadcrumb a{
color: black;
}

.subtitle{
font-weight: bold;
}

.navbar-item:hover{
background-color: rgb(241, 241, 241);
}


.dashboard
{
    .news-box{
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        min-height: 10rem;
        border: 1.5px solid rgb(194, 194, 194);
        background-color: rgb(250, 250, 250);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        cursor: pointer;
    }

    .news-box a {
        flex: 1;
    }

    .box-header{
        border-bottom: 1px solid black;
    }

    .news-container{
        gap: 20px;
    }
}